/* Layout
===============================================*/

body {
	padding-top: 100px;
}

.title {
	font-family: 'Audiowide', cursive;
	font-weight: bold;
	color: #fff;
}

.subtitle {
	font-family: 'Audiowide', cursive;
	font-weight: bold;
	font-size: 1.2em;
}

.main-name {
	color: #3bbc73;
	font-family: 'Audiowide', cursive;
	font-weight: bold;
}

.position {
	font-family: 'Audiowide', cursive;
	color: #000;
	font-weight: bold;
}

.no-bullets {
	list-style-type: none;
}

.black-bullets {
	list-style-type: disc;
}

.container {
	width: 1000px;
}

.footer {
	width: 1000px;
	padding: 20px;
}

.name-intro {
	margin: 30px 0px 0px 15px;
}

.resume {
	font-family: 'Iceland', cursive;
	font-size: 1.2em;
}

.title-banner {
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	opacity: 0.5;
}

.resume-content {
	display: none;
}

.resume-highlight {
	display: block;
}

.resume-box {
	background-color: #eee;
	padding: 15px;
	margin: 15px;
	border: 1px solid rgb(240, 242, 244);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#objective {
	background-color: #62707D;
}

#summary {
	background-color: #51B46D;
}

#skills {
	background-color: #E0AB18;
}

#experience {
	background-color: #E15258;
}

#education {
	background-color: #2570A8;
}

#interests {
	background-color: #9D8AC7;
}

/* Images
===============================================*/

#main-pic {
	float: right;
	height: 250px;
	width: 250px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #666;
	border: 1px solid #ccc;
	padding: 2px;
	opacity: 0.15; 
}

