/* Layout
===============================================*/

body {
	padding-top: 100px;
}

.title {
	font-family: 'Audiowide', cursive;
	color: #0088cc;
	font-weight: bold;
}

.subtitle {
	font-family: 'Audiowide', cursive;
	font-weight: bold;
	font-size: 1.2em;
}

.main-name {
	color: #3bbc73;
	font-family: 'Audiowide', cursive;
	font-weight: bold;
}

.position {
	font-family: 'Audiowide', cursive;
	color: #000;
	font-weight: bold;
}

.no-bullets {
	list-style-type: none;
}

.black-bullets {
	list-style-type: disc;
}

.container {
	width: 1000px;
}

.footer {
	width: 1000px;
	padding: 20px;
}

.name-intro {
	margin: 30px 0px 0px 15px;
}

.resume {
	font-family: 'Iceland', cursive;
	font-size: 1.2em;
}

#strong-line {
	border: solid 2px;
}

/* Images
===============================================*/

#main-pic {
	float: right;
	height: 250px;
	width: 250px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #666;
	border: 1px solid #ccc;
	padding: 2px; 
}

